*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    font-family: "Roboto", sans-serif;    
}
body{
	width: 100%;
	height: 100vh;
    background-image: linear-gradient(rgba(31, 6, 0, 0.7),rgba(4,9,30,0.7)), url('Images/background.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
	justify-content: center;
	align-items: center;
    background-position: center center;
    background-attachment: fixed
}
.container4{
	width: 100%;
	padding: 35px 10%;
    padding-right: calc(10% - 30px);
    height: 100vh;
}

main.row{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 20px;
}
.col header.title{
    font-size: 1.5rem;
	color: #15db99;
	padding: 0px 0px 20px 30px;
}
.col .contents{
	padding: 0px 30px;
	border-left: 2px solid #bababa;
    height: 80vh;
    overflow-y: scroll;
}
.col .contents .box{
	position: relative;
	padding: 20px;
	border: 1px solid #eaeaeac5;
	background-color: #ffffffc3;
	cursor: pointer;
	transition: all 0.4s;
	margin-bottom: 20px;
    padding-left: 40px;
}
.col .contents .box:hover{
	box-shadow: 0px 3px 12px 0px #ccc;
	border: 1px solid transparent;
}

.col .contents .box:hover::before {
    background-color: #0080b2; 
    border-color: #ffffff; 
    transform: scale(1.2); 
}
.col .contents .box::before{
	content: '';
	position: absolute;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	right: calc(100% + 22px);
	top: 0;
	background-color: #11a372;
	border: 2px solid white;
    left: 10px;
    top: 50%; 
    transform: translateY(-50%); 
    transition: all 0.4s;
}
.box h4{
	position: relative;
	color: #11a372;
}

.box h3{
	font-size: 19px;
	padding: 10px 0px 6px;
	font-family: helvetica;
	color: #444;
}
.box p{
	line-height: 1.2;
	color: #666;
	font-size: 17px;
}
@media(max-width: 768px){
	main.row{
		grid-template-columns: 1fr;
	}
	.row .col:nth-child(2){
		margin-top: 30px;
	}
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 3% 5%;
    align-items: center;
}

.nav-link {
    flex: 1;
    text-align: right;
}
.nav-link ul li {
    padding: 8px 12px;
    display: inline-block;
    position: relative;
}

.nav-link ul li a {
    text-decoration: none;
    color: rgb(251, 247, 231);
    font-size: 20px;
    font-weight: 300;
}

.nav-link ul li a::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #EE4266;
    display: block;
    margin: auto;
    cursor: pointer;
    transition: 0.5s;
}

.nav-link ul li a:hover::after {
    width: 100%;
}

#scroll-to-contact {
    position: absolute;
    bottom: 8%;
    left: 14%;
    padding: 10px 20px;
    cursor: pointer;
    z-index: 1000;
    justify-content: baseline;
}
.scroll-to-contact2 {
    position: absolute;
    bottom: 6%;
    right: 14%;
    margin: 30px;
    cursor: pointer;
    z-index: 1000;
    background-color: #645bff;
    color: #fff;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}
.scroll-to-contact2:hover {
    background-color: #111;
}

.scroll-to-contact2 .arrow-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.scroll-to-contact2 .arrow {
    width: 10px;
    height: 10px;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
    transform: rotate(-45deg);
    transition: transform 0.3s ease;
}

.scroll-to-contact2:hover .arrow {
    transform: rotate(-45deg) translate(2px, 2px);
}
.contact{
    background-image: linear-gradient(linear-gradient(rgba(31, 6, 0, 0.7),rgba(4,9,30,0.7)));
    height: 100vh;

}
.section-container{
    background: #0C0C0C;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
    padding: 0px;
}

.messageInfo{
    background-image: linear-gradient(135deg,rgba(182, 121, 248, 0.774),rgba(101, 0, 254, 0.7));
    padding: 2%;
    border-radius: 10px;
    flex: 1.5;
    margin:3% ;
    animation: slideInFromLeft ease-in-out both;
    animation-timeline: view();
    animation-range: entry 10% cover 50%;
}

.messageInfo h2{
    color: #d2abff;
    font-weight: 800;
    margin-bottom: 20px;
    font-size: 5em;
}

form{
    display: flex;
    flex-direction: column;
    padding: 1vw 2vw;
    width: 100%;
    max-width: 600px;
}

.contactInfo{
    background-image: linear-gradient(rgba(31, 6, 0, 0.7),rgba(4,9,30,0.7)), url('Images/Prayon1.jpg');
    width: 50%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: center;
    flex: 3;
    flex-wrap: wrap;
}

.contactInfo .box{
    margin: 10px 80px;
    margin-left: 2%;
    position: relative;
    width: 50px;
    height: 50px;
}

.contactInfo .box .icon{
    width: 100%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    color: #757575;
}
.contactInfo .box .text{
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    padding: 10px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    z-index: 999;
}

.contactInfo .box:hover .text {
    display: block;
}
.box .icon {
    padding: 10px;
    margin-right: 10px; 
    border-radius: 50%;
    transition: background-color 0.3s ease;
}
  
.box:hover .icon {
    background-color: transparent; 
}
  

.icon.twitter:hover {
    color: #E1E8ED;
    background-color: #14171A; 
}
  
.icon.facebook:hover {
    color: #E1E8ED;
    background-color: #4267B2; 
}
  
.icon.whatsapp:hover {
    color: #E1E8ED;
    background-color: #25D366; 
}
  
.icon.instagram:hover {
    color: #E1E8ED;
    background-color: #E4405F; 
}

.icon.email:hover {
    background-color: #e1ea35; 
    color: #000000;
}

.icon.phone:hover {
    color: #E1E8ED;
    background-color: #34B7F1; 
}
form input, textarea{
    border: 0;
    margin: 10px 0;
    padding: 15px;
    outline: none;
    background: #b7b3ffe9;
    border-radius: 10px;
    font-size: 16px;
}

/* form button{
    font-size: 20px;
    width: 150px;
    text-align: center;
    padding: 10px;
    border: 0;
    outline: none;
    margin: 20px 0;
} */

form button {
    font-size: 18px;
    width: 200px;
    height: 50px; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border: none;
    outline: none;
    margin: 20px auto 0;
    background-color: #4CAF50; 
    color: white; 
    border-radius: 10px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

form button:hover {
    background-color: #45a049; 
    transform: scale(1.05); 
}

form button:active {
    background-color: #398d3e;
    transform: scale(0.98);
}

.box i{
    font-size: 30px;
}

.contents::-webkit-scrollbar {
    width: 6px; 
}
.contents::-webkit-scrollbar-track {
    background-color: #ffffff; 
}
.contents::-webkit-scrollbar-thumb {
    background-color: #15db99;
    border-radius: 10px; 
    height: 4px;
}